<!DOCTYPE html>
<html>

<head>
    <title>Account Interface</title>
    <!-- Add CSS and JavaScript as needed -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/ansi_up@5.0.0/ansi_up.js"></script>
</head>

<body>
    <div class="container">
        <div class="account-list">
            <h2>Accounts</h2>
            <ul>
                {% for account in accounts %}
                <li>
                    {{ account.nickname }}
                    <button onclick="toggleCharacters('{{ account.nickname }}')">↓</button>
                    <ul id="chars-{{ account.nickname }}" style="display:none;">
                        {% for character in account.characters %}
                        <li>
                            {{ character.name }}
                            <button onclick="runCharacterAction('{{ account.id }}', '{{ character.id }}', 'farm')">Run
                                Farm</button>
                            <button
                                onclick="runCharacterAction('{{ account.id }}', '{{ character.id }}', 'treasurehunt')">Run
                                Treasure Hunt</button>
                            <button onclick="runCharacterAction('{{ account.id }}', '{{ character.id }}', 'fight')">Run
                                Fight</button>
                            <button
                                onclick="stopCharacterAction('{{ account.id }}', '{{ character.id }}')">Stop</button>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="bot-list" id="runningBotsPanel">
            <h2>Running Bots</h2>
            <table id="runningBotsTable">
                <thead>
                    <tr>
                        <th>Character</th>
                        <th>Activity</th>
                        <th>Run Time</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- JavaScript will dynamically insert rows here -->
                </tbody>
            </table>
        </div>

        <!-- Modal for Showing Logs -->
        <div id="logModal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close-button" onclick="closeLogModal()">&times;</span>
                <h2>Log Details</h2>
                <pre id="logDetails"></pre>
            </div>
        </div>

    </div>
</body>

</html>